body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1, h2, h3 {
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.patient-list {
  list-style: none;
  padding: 0;
}

.patient-item {
  background: #383333;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

button {
  background: #28c528;
  color: rgb(36, 30, 30);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ba2020;
}